<div class="container">
  <p><%= @boat.location %></p>

  <div class="container-images d-flex">
    <div id="carousel<%= @boat.id %>" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel<%= @boat.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel<%= @boat.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel<%= @boat.id %>" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class= "big-image w-100 height" src= <%= @boat.cloudinary %>  alt="">
              </div>
              <div class="carousel-item">
                <img class= "big-image w-100" src= <%= @boat.cloudinary2 %>  alt="">
              </div>
              <div class="carousel-item">
                <img class= "big-image w-100 h-10" src= <%= @boat.cloudinary3 %>  alt="">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= @boat.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= @boat.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>



  </div>



  

  <div class="container-content">
    <div class="container-info">
      <h1><%= @boat.model %></h1>
      <h5><%= @boat.location %></h5>
      <h5><%= @boat.day_price %></h5>
      <div class="container-desc">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corporis maxime placeat, hic laborum dicta, cupiditate magni, dignissimos possimus laudantium perferendis eaque. Perferendis corrupti laudantium rerum quos debitis sapiente recusandae neque? Assumenda repellendus architecto iure libero minus facilis, incidunt quisquam inventore nulla commodi voluptate sit nisi veniam repellat dolorem quaerat quo, voluptatibus, eius voluptatum voluptates doloremque laboriosam. Obcaecati, debitis tempore!</p>
        <ul class="stats-cards">
          <li class="stats">Category - <%= @boat.category %></li>
          <li class="stats">Length - <%= @boat.length %>m</li>
          <li class="stats">Max guests - <%= @boat.max_guests %></li>
          <li class="stats">No. of beds - <%= @boat.beds %></li>
          <li class="stats">Number of crew - <%= @boat.crew_number  %></li>
          <li class="stats">Engine power - <%= @boat.engine_power %>hp</li>
        </ul>
      </div>
      <div class="container-equipment">
        <h4>Equipment on board</h4>
      </div>
    </div>
    <div class="container-forms">
      <div class="container-booking-form">
        <h4>Book this craft</h4>
        <h6>Conditions of booking</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quibusdam aspernatur itaque neque illum architecto quaerat doloribus molestiae obcaecati iusto.</p>
        <%= link_to "Booking form", new_boat_booking_path(@boat[:id]), class: "btn btn-outline-primary" %>
      </div>
      <div class="container-renter-questions">
        <h4>Contact the renter</h4>
        <button>Send question</button>
      </div>
    </div>
  </div>
</div>
