<div class="container">
  <p><%= @boat.location %></p>

<%#  -----------------------static images------------------------ %>

  <div class="container-images">
    <% @boat.photos.each do |photo| %>
     <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

<%#  ------------------carousel(doesn't work)-------------------- %>

  <div class="carousel-show">
  </div>

  <div class="container-content">
    <div class="container-info">
      <h1><%= @boat.model %></h1>
      <h5><%= @boat.location %></h5>
      <h5><%= @boat.day_price %></h5>
      <div class="container-desc">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corporis maxime placeat, hic laborum dicta, cupiditate magni, dignissimos possimus laudantium perferendis eaque. Perferendis corrupti laudantium rerum quos debitis sapiente recusandae neque? Assumenda repellendus architecto iure libero minus facilis, incidunt quisquam inventore nulla commodi voluptate sit nisi veniam repellat dolorem quaerat quo, voluptatibus, eius voluptatum voluptates doloremque laboriosam. Obcaecati, debitis tempore!</p>
        <ul class="stats-cards">
          <li class="stats">Category - <%= @boat.category %></li>
          <li class="stats">Length - <%= @boat.length %>m</li>
          <li class="stats">Max guests - <%= @boat.max_guests %></li>
          <li class="stats">No. of beds - <%= @boat.beds %></li>
          <li class="stats">Number of crew - <%= @boat.crew_number  %></li>
          <li class="stats">Engine power - <%= @boat.engine_power %>hp</li>
        </ul>
      </div>
      <div class="container-equipment">
        <h4>Equipment on board</h4>
      </div>
    </div>
    <div class="container-forms">
      <div class="container-booking-form">
        <h4>Book this craft</h4>
        <h6>Conditions of booking</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quibusdam aspernatur itaque neque illum architecto quaerat doloribus molestiae obcaecati iusto.</p>
        <%= link_to "Booking form", new_boat_booking_path(@boat[:id]), class: "btn btn-outline-primary" %>
      </div>
      <div class="container-renter-questions">
        <h4>Contact the renter</h4>
        <button>Send question</button>
      </div>
    </div>
  </div>
</div>
